@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
  background-position: top right, bottom left;
  background-color: #f9f6fe;
  background-repeat: no-repeat;
  color: #6e6f8d;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.check {
  color: #bfbeca;
  margin: 1vh 0;
}

#annual,
#month {
  padding: 0 1vw;
}

.switch {
  position: relative;
  display: inline-block;
  bottom: 7px;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9094eb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #9094eb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9094eb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flex-container {
  margin-top: 5vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#professional-card {
  display: flex;
  flex-direction: column;
  background-color: #8e93eb;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 8vh 2vw;
  margin: 2vh 0;
}

#basic-card,
#master-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fefeff;
  border-radius: 10px;
  color: #4b4a5f;
  margin: 2vh 0;
  padding: 5vh 2vw;
}

.heading {
  margin: 8vh 0 5vh 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid hsl(225, 33%, 84%);
}

li:last-child {
  border: none;
}

ul {
  border-top: 1px solid hsl(225, 33%, 84%);
  border-bottom: 1px solid hsl(225, 33%, 84%);
}

.card-heading {
  text-align: center;
  padding-bottom: 10px;
}

.dollar {
  position: relative;
  bottom: 10px;
  right: 7px;
  font-size: 30px;
  text-align: center;
}

.price {
  font-size: 60px;
  padding-bottom: 20px;
}

button {
  margin-top: 30px;
}

.common-button {
  padding: 10px 90px;
  background-color: #9d9fef;
  color: white;
  border: 1px solid #9d9fef;
  border-radius: 5px;
}

.professional-button {
  background-color: white;
  color: #9d9fef;
  border-radius: 5px;
}

.basic-button:hover,
.master-button:hover {
  background-color: white;
  color: #9d9fef;
  cursor: pointer;
}

.professional-button:hover {
  background-color: #8f93eb;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

@media (max-width: 560px) {
	body {
		background-image: url(images/bg-top.svg);
		background-position: right;
		background-repeat: no-repeat;
	}
}
